/* TODO: base.cssと重複する箇所を除去する */


/* product_area */
.product_content{

    display:block;

    margin: 0.25rem;
    padding: 0.5rem;
    border:solid 1px black;
    border-radius: 1rem;

}

/* TODO:作品のタイトルを必ず1行で表示させる */
.product_header{
    /* 改行しないで表示させる */
    word-break:keep-all;

    /* 記号が含まれる場合にも改行はしない */
    white-space: nowrap;

    /* X軸方向にはみ出した時、非表示とする。*/
    overflow-X:hidden;
}
/* ただ、これだと正式名がきちんと表示されないので、なるべくBootstrapのカラムをきちんと設定しておく。*/
/* TODO:タイトルを右から左へ動かして表示させるアニメーションを追加する */
